@font-face {
    font-family: 'basier_squareregular';
    src: local('basier_squareregular'), url('../../fonts/basiersquare-regular-webfont.eot');
    src: local('basier_squareregular'), url('../../fonts/basiersquare-regular-webfont.eot?#iefix') format('embedded-opentype');
    src: local('basier_squareregular'), url('../../fonts/basiersquare-regular-webfont.woff2') format('woff2');
    src: local('basier_squareregular'), url('../../fonts/basiersquare-regular-webfont.woff') format('woff');
    src: local('basier_squareregular'), url('../../fonts/basiersquare-regular-webfont.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

html, body {
	-webkit-font-smoothing: antialiased;
}

.h1,
h1 {
    font-size: calc(22px + 1vw);
    line-height: 2.5;
    margin-top: 0;
}
.h2,
h2 {
    font-size: calc(20px + 1vw);
    line-height: 1.8;
    margin-bottom: calc(15px + 1vw);
}