a {
    color: #000000;
    text-decoration: none;
    padding: 3px 5px;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    background-color: #e3d076;
    transition: background-color 0.3s ease-in-out;
}
a:hover {
    background-color: #fbdf56;
}