// FONT
//==========================================================================

$font-default-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !default;

$primary-font: 'Basic', $font-default-stack !default;

// COLORS
//==========================================================================

$primary: 		                #999 !default;

$secondary: 	                #333 !default;

$grey-extralight:             #d3dae5 !default;
$grey-light:                  #a5aeba !default;
$grey:                        #8e96a0 !default;
$grey-dark:                   #434a54 !default;
$grey-extradark:              #373d45 !default;
$grey-ligthblue:              #465867 !default;

$white: 		                  #fff !default;
$white-dark:                  #f6f6f6 !default;
$white-ligthblue:             #e1e4e6 !default;

$black:                       #000 !default;